h1 {
  text-align: center;
}

table {
  margin: 0 auto;
}

td {
  width: 100px;
  height: 100px;
}

.vertical {
  border-left: 2px black solid;
  border-right: 2px black solid;
}

.horizontal {
  border-top: 2px black solid;
  border-bottom: 2px black solid;
}
